*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  touch-action: manipulation;
}

img {
  max-width: 100%;
}

figure {
  margin: 0;
  margin-bottom: 20px;
}

figcaption {
  background: #eee;
  padding: 10px;
  font-size: 12px;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: sans-serif;
}

body.lock {
  overflow: hidden;
}


a {
  color: #0065a4;
  text-decoration: none;
}

.share-toolbar__primary,
.related_topics,
.slideshow,
.show-right-rail,
.article-continued,
.brightcove-video-player,
.newsletter-box {
  display: none;
}
