.stories {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 58px;
  transition: all 0.4s ease-in-out;
  transform: translateX(100%);
  background: white;
}

.stories.is-active {
  transform: translateX(0);
}

.story {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 20px;
  padding-top: 0;
  background: white;
  display: none;
}

.story.is-active {
  display: block;
}

.story p {
  font-size: 14px;
  line-height: 24px;
}
