.teasers {
  margin-bottom: 100px;
}

.teaser {
  position: relative;
  padding: 10px;
  padding-left: 100px;
  border-bottom: 1px solid #eee;
  background: white;
  cursor: pointer;
}

.teaser-img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 90px;
  background-size: cover;
  background-position: center center;
  background-color: #ccc;
}

.teaser-title {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.teaser:first-child {
  padding: 0;
}

.teaser:first-child .teaser-img {
  position: relative;
  height: 300px;
  width: 100%;
  overflow: hidden;
}

.teaser:first-child .teaser-img:after {
  content: '';
  display: block;
  position: absolute;
  bottom: -65px;
  left: -20px;
  right: -20px;
  height: 100px;
  background: white;
  transform: rotate(-8deg);
}

.teaser:first-child .teaser-title {
  font-size: 21px;
  padding: 15px;
  padding-top: 0;
  line-height: 24px;
}
